<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <title>Modificar Hora</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      .footer{position: fixed; left:0; bottom:0; width: 100%; text-align: center; background-color: lightseagreen; color:mediumorchid;}
    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="background-color:rgb(214, 242, 247)">
    <nav class="navbar navbar-expand-xl bg-info"> 
      <img src="{% static 'principal/img/logo.png' %}" alt="logo" style="width: 100px;" class="d-inline-block align-top">
      <h1 class="container text-center">Modificar Hora</h1>
    </nav>
    <div class ="container">
        <h1></h1>
        <form method="POST" action="/guardarH">
            {% csrf_token %}
          <div class= "form-group">
            <label for="idHora">idHora</label>
            <input type="text" name="idHora" id="idHora" class="form-control" value='{{datos.idHora}}' readonly='true'>
          </div>  
          <div class= "form-group">
            <label for="dia">dia</label>
            <select name="dia" id="dia" class="form-control" value='{{datos.dia}}'>
                {% for d in dias %}
                    <option value={{d.dia}}>{{d.dia}}</option>
                {% endfor %}
            </select>    
          </div>
          <div class= "form-group">
            <label for="mes">Mes</label>
            <select name="mes" id="mes" class="form-control" value='{{datos.mes}}'>
                {% for m in meses %}
                    <option value={{m.mes}}>{{m.mes}}</option>
                {% endfor %}
            </select>    
          </div>
          <div class= "form-group">
            <label for="hora">Hora</label>
            <select name="hora" id="hora" class="form-control" value='{{datos.hora}}'>
                {% for h in horas %}
                    <option value={{h.hora}}>{{h.hora}}</option>
                {% endfor %}
            </select>    
          </div>
          <div class= "form-group">
            <label for="medico">Medico</label>
            <select name="medico" id="medico" class="form-control" value='{{datos.medico}}'>
                {% for med in medicos %}
                    <option value={{med.idMedico}}>{{med.apellidoMedico}}</option>
                {% endfor %}
            </select>    
          </div>
          <div class="form-group">
              <input type="submit" value="Guardar">
          </div>
        </form>  
    </div>
    <div class="footer"><h1>Cruz morada</h1></div>

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>